.header {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  
    h1 {
      color: white;
      font-size: 60px;
      font-family: "Mukta", sans-serif;
      text-align: justify;
      margin: 40px;
    }
  }
  
  .navbar {
    height: auto;
    justify-content: space-around;
    padding-bottom: 10px;
    flex-direction: row;
    margin: 40px;
  }
  
  .header-nav {
    a {
      color: white;
      font-size: 20px;
      text-decoration: none;
      font-family: "Mukta", sans-serif;
      align-items: center;
    }
  }
  
  .nosotros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    h1 {
      color: black;
      font-size: 60px;
      margin-top: 30px;
    }
  
    h2 {
      color: black;
      margin: 30px;
      font-size: 45px;
      font-family: "Mukta", sans-serif;
    }
  
    p {
      margin: 3%;
      color: black;
      font-size: 20px;
      font-family: "Mukta", sans-serif;
      text-align: center;
      max-width: 800px;
    }
  }
  
  body {
    margin: 0%;
    height: 100vh;
  }
  
  .pie {
    background-color: black;
    height: 25px;
  
    nav {
      a {
        color: white;
        font-size: 15px;
        font-family: "Mukta", sans-serif;
        align-items: center;
        align-content: center;
        margin: 20px;
      }
  
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
    }
  }
  
  .porqueElegirnos {
    h2 {
      text-align: center;
      color: black;
      font-size: 45px;
      font-family: "Mukta", sans-serif;
      margin: 50px;
    }
  
    h3 {
      text-align: center;
      font-family: "Mukta", sans-serif;
      text-align: center;
    }
  }
  
  .seccion-div {
    display: block;
    margin: 5%;
    text-align: center;
    font-family: "Mukta", sans-serif;
  
    div {
      margin: 1%;
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
  
      p {
        width: 500px;
      }
    }
  }
  
  .formulario {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Mukta", sans-serif;
  
    h4 {
      font-family: "Mukta", sans-serif;
    }
  
    #boton1 {
      width: 100px;
    }
  
    #boton2 {
      width: 100px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .pie {
      nav {
        a {
          font-size: 0.6rem;
        }
      }
  
      display: block;
    }
  
    .col-md-3 {
      h4 {
        font-size: 1rem;
      }
    }
  
    .header {
      height: fit-content;
    }
  
    .seccion-div {
      display: block;
  
      div {
        p {
          margin: 50px;
        }
      }
    }
  }
  
  @media screen and (min-width: 769px) {
    .col-md-3 {
      h4 {
        font-size: 1rem;
      }
    }
  }